{template "ziyuan","header"}
 
<div id="wrapper" class="intro">
  <div id="left">
    
    
    <ul class="sideMenu">
      
                
            <li><a href="{MYLINK}10821">公司简介</a></li>
          
                    
            <li><a href="{MYLINK}10822" class="current">最新公告</a></li>
          
                    
            <li><a href="{MYLINK}10823">政府批文</a></li>
          
                    
            <li><a href="{MYLINK}10824">平台优势</a></li>
          
                    
            <li><a href="{MYLINK}10825">招商加盟</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10820" rel="nofollow">关于我们</a> > <a href="{MYLINK}10822" rel="nofollow">最新公告</a></div>
 <h1>最新公告</h1>
    <div class="content">
       
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}10822151162" title="关于美国独立日提前休市的通知" target="_blank">关于美国独立日提前休市的通知</a>
                        <span>2016-06-30</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}10822148200" title="交易风险警示" target="_blank">交易风险警示</a>
                        <span>2016-06-23</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}10822148199" title="关于2016年美国阵亡将士纪念日提前休市的通知" target="_blank">关于2016年美国阵亡将士纪念日提前休市的通知</a>
                        <span>2016-06-23</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275133" title="海南省常务副省长毛超峰调研交易中心" target="_blank">海南省常务副省长毛超峰调研交易中心</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275132" title="海南一带一路新起点建设高端论坛" target="_blank">海南一带一路新起点建设高端论坛</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275131" title="海南省一带一路新起点建设高端论坛在海口万豪酒店召开" target="_blank">海南省一带一路新起点建设高端论坛在海口万豪酒店召开</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275130" title="倪强调研电商企业 打造“互联网+”经济发展新引擎" target="_blank">倪强调研电商企业 打造“互联网+”经济发展新引擎</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275129" title="依托资源优势 做大做强垦区产业" target="_blank">依托资源优势 做大做强垦区产业</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275128" title="海南槟榔产量占全国95% 将确立槟榔产业主导地位" target="_blank">海南槟榔产量占全国95% 将确立槟榔产业主导地位</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275127" title="海南槟榔产业绿色转型获央视点赞 罗保铭此前要求扶持" target="_blank">海南槟榔产业绿色转型获央视点赞 罗保铭此前要求扶持</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275126" title="海南大宗商品交易中心正式挂牌营业" target="_blank">海南大宗商品交易中心正式挂牌营业</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1082275125" title="海南槟榔电子交易市场落户万宁" target="_blank">海南槟榔电子交易市场落户万宁</a>
                        <span>2015-07-10</span>
                      </li>
                    </ul>
                
     
      <div class="page">
        <a disabled="disabled" style="margin-right:5px;cursor:pointer">首页</a>
                        <a disabled="disabled" style="margin-right:5px;cursor:pointer">上一页</a> 
                        <span class="cpb" style="margin-right:5px;cursor:pointer">1</span>
                        <a style="margin-right:5px;cursor:pointer">下一页</a> 
                        <a style="margin-right:5px;cursor:pointer">尾页</a> 
      </div>      
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}