{template "ziyuan","header"}

<div id="wrapper" class="intro">
  <div id="left">
    
     
    
    <ul class="sideMenu">
     
       
            <li><a href="{MYLINK}10842" class="current">每日评论</a></li>
          
           
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
           
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
           
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
           
            <li><a href="{MYLINK}10846">高级课堂</a></li>
          
           
            <li><a href="{MYLINK}10847">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10842" rel="nofollow">每日评论</a></div>
    <div class="hr">&nbsp;</div>
    <h1>橡胶周评</h1>
    <div class="time">作者：海南大宗&nbsp;来源：海南大宗&nbsp;日期:2016-06-23</div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    <div class="content1">
      <p style="padding:0px;color:#333333;font-family:verdana, arial, 宋体;font-size:12px;line-height:27px;margin-top:0px;margin-bottom:0px;"><span style="font-size:16px;">我国东部11省4月份开始实施“国家第五阶段机动车污染物排放标准”，17年1 月份开始全国范围内施行，对重卡销售有一定提振。1月我国汽车产销同比增 7%以上，1月份重卡销售4万辆，与去年同期基本持平，1月份中国进口天然及合成橡胶（包括胶乳）共计 46 万吨，同比增 31.1%。2016年2月中旬青岛保税区橡胶库存增长6.2%至 27.81万吨高位，节日期间，为提振胶价、提高小型胶农收入，由泰国、印尼和马来西亚组成的国际橡胶三方委员会(ITRC)已同意实施出口吨位计划(AETS)，自2016 年3 月开始的六个月里共削减 61.5万吨橡胶出口量，约占全球天然橡胶产量的 6%，其中泰国将削减 32.4万吨出口量，印尼削减 23.874 吨，马来西亚削减 5.226万吨，目前三国中仅印尼对其本国出口商限定出口削减量指标。国内现货上涨 100-200 元/吨，主产国阶段性削减出口只是挺价的权益之计，持续性难言乐观，库存的轮转最终仍将在远月爆发。泰国 1 月底开始的10万吨橡胶收储计划进展缓慢，量价均远不及预期。</span></p><p style="padding:0px;color:#333333;font-family:verdana, arial, 宋体;font-size:12px;line-height:27px;margin-top:0px;margin-bottom:0px;"><span style="font-size:16px;"> &nbsp; &nbsp; &nbsp; 14 年老全乳胶价格在10000-10300 元/吨，烟片折人民币价格在11600元/吨，主力合约向下空间不大，节后资金大量流入沪胶，向上空间受资金推动不确定性较大。操作上短期观望，下方空间还需现货给出，中长期偏空思路不变，后期关注买1605合约抛1611 合约策略。</span></p><p><br /></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    
    <div class="tags_code">
      <p>上一篇：<a href="{MYLINK}10842148198" class="leftt" title="橡胶周评"><span></span><em>橡胶周评</em></a></p>
                        <p>下一篇：<a href="{MYLINK}10842148196" class="leftt" title="橡胶周评"><span></span><em>橡胶周评</em></a></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="content">
      <h3>延伸阅读</h3>
      <ul class="newsList">
         
         <li style="font-size:12px"><a href="{MYLINK}1084775255" title="开户有什么要求？" target="_blank">开户有什么要求？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775254" title="开户需要带什么资料？ " target="_blank">开户需要带什么资料？ </a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775253" title="开户要多长时间？" target="_blank">开户要多长时间？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775252" title="怎样炒现货白银才能盈利？" target="_blank">怎样炒现货白银才能盈利？</a>
           <span style="float:right">2014-06-20</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775251" title="现货白银投资方案及实战技巧？" target="_blank">现货白银投资方案及实战技巧？</a>
           <span style="float:right">2014-06-20</span></li>
            
     </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}
