{template "ziyuan","header"}

<div id="wrapper" class="intro">
  <div id="left">
    
     
    
    <ul class="sideMenu">
     
       
            <li><a href="{MYLINK}10842" class="current">每日评论</a></li>
          
           
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
           
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
           
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
           
            <li><a href="{MYLINK}10846">高级课堂</a></li>
          
           
            <li><a href="{MYLINK}10847">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10842" rel="nofollow">每日评论</a></div>
    <div class="hr">&nbsp;</div>
    <h1>RBS：油价若反弹将使欧元区远离通缩，QE前景或因此受挫</h1>
    <div class="time">作者：海南大宗&nbsp;来源：海南大宗&nbsp;日期:2014-11-30</div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    <div class="content1">
      <p>欧洲央行行长德拉基(Mario Draghi)和副行长康斯坦西奥(Vitor Constancio)周四都再度对此后实施量化宽松前景的状况是放了更强力的信号，而欧元区部分国家CPI增幅继续走低的状况也证实的宽松需求的紧迫性，但苏格兰皇家银行高级经济学家巴韦尔(Richard Barwell)却唱出反调，称如果油价在未来12个月内反弹，将导致欧洲央行的宽松政策转向，因欧元区通胀率可能回升至&ldquo;安全&rdquo;区间。</p>
<p>巴韦尔表示，如果油价真的能在未来12个月内反弹上涨，将使欧元区的整体通胀水平重回1%，这可能也将促使中期通胀预期上升。一旦这一状况果真发生，欧洲央行首席经济学家普雷特(Peter Praet)为量化宽松措施(QE)所设定的先决条件将难以得到满足，届时，无论欧洲央行行长德拉基(Draghi)如何继续振臂呼吁，欧洲央行的其他官员都会对QE行动兴致索然，尽管届时欧元区通胀仍可能远低于2%的目标。</p>
<p>巴韦尔总结道，虽然许多投资者目前都认为欧洲央行QE将势在必行，但是大家也都认为QE至少要到明年3月甚至6月才会落实，在此之前，欧洲央行执委会需要对的现有举措进行进一步观望和评析，以判断其是否实现了扩大央行资产负债表的预设目标，同时也能将权衡德拉基所力推的QE是否还真有必要。因此，在这段时间内的欧洲央行政策前景仍会在一定程度上显得悬而未决，一旦通胀基本面趋势因油价意外反弹而扭转，那么欧洲央行也势必会改弦更张。</p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    
    <div class="tags_code">
      <p>上一篇：<a href="{MYLINK}1084275157" class="leftt" title="CIBC：OPEC维持产量利好油价 明年美原油或升至80美元"><span></span><em>CIBC：OPEC维持产量利好油价 明年美原油或升至80美元</em></a></p>
                        <p>下一篇：<a href="{MYLINK}1084275155" class="leftt" title="央行黄金流出或扮演金价暴跌幕后推手"><span></span><em>央行黄金流出或扮演金价暴跌幕后推手</em></a></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="content">
      <h3>延伸阅读</h3>
      <ul class="newsList">
         
         <li style="font-size:12px"><a href="{MYLINK}1084775255" title="开户有什么要求？" target="_blank">开户有什么要求？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775254" title="开户需要带什么资料？ " target="_blank">开户需要带什么资料？ </a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775253" title="开户要多长时间？" target="_blank">开户要多长时间？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775252" title="怎样炒现货白银才能盈利？" target="_blank">怎样炒现货白银才能盈利？</a>
           <span style="float:right">2014-06-20</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775251" title="现货白银投资方案及实战技巧？" target="_blank">现货白银投资方案及实战技巧？</a>
           <span style="float:right">2014-06-20</span></li>
            
     </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}