{template "ziyuan","header"}

<div id="wrapper" class="intro">
  <div id="left">
    
     
    
    <ul class="sideMenu">
     
       
            <li><a href="{MYLINK}10842" class="current">每日评论</a></li>
          
           
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
           
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
           
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
           
            <li><a href="{MYLINK}10846">高级课堂</a></li>
          
           
            <li><a href="{MYLINK}10847">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10842" rel="nofollow">每日评论</a></div>
    <div class="hr">&nbsp;</div>
    <h1>荷兰合作银行：欧洲近期政策结果令人失望，寻求激进政策护航</h1>
    <div class="time">作者：海南大宗&nbsp;来源：海南大宗&nbsp;日期:2014-11-27</div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    <div class="content1">
      <p>荷兰合作银行的分析师认为，在过去数年间欧洲央行所采取的一系列政策举措中，&ldquo;质化宽松&rdquo;，也就是事实上的信贷宽松行动已经扮演了最为重要的角色。这些举措的重点在于帮助欧洲央行将货币政策更好地传导至私营部门。</p>
<p>该行因而仔细地探讨了这些政策是否已经取得成功，或者能否在未来几年也能取得成效的问题。具体而言，该行对政策利率下调赖以传递到实体经济的各个环节进行了评估，而结构则令人感到失望。</p>
<p>该行不无遗憾地表示，即使将关注重心放在新增贷款的利率上，结果也显示，过去和近期的政策效果令人失望。</p>
<p>该行强调，经济增长乏力是主要的绊脚石，尤其是金融机构中广泛实施的&ldquo;去杠杆化&rdquo;。在如此状况下，欧洲央行的宽松政策措施的结果注定是&ldquo;政令不出大门&rdquo;，在实体经济根本不需要流动性的情况下，相应的宽松行动也只能是无的放矢。</p>
<p>这让该行更加坚信，经济增长会继续令人失望，欧洲央行将有必要转向更激进、更定量的政策措施。但如果实体经济对前景的悲观预期不改，欧洲央行即使出台诸如量化宽松(QE)购债这样的强力措施，对于经济的实际拉动效果也有限。</p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    
    <div class="tags_code">
      <p>上一篇：<a href="{MYLINK}1084275160" class="leftt" title="金价小幅回落至1200下方 法兴预期四季度均价1150"><span></span><em>金价小幅回落至1200下方 法兴预期四季度均价1150</em></a></p>
                        <p>下一篇：<a href="{MYLINK}1084275158" class="leftt" title="永丰金融集团：金价于50天均线下方稳固 关注瑞士公投"><span></span><em>永丰金融集团：金价于50天均线下方稳固 关注瑞士公投</em></a></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="content">
      <h3>延伸阅读</h3>
      <ul class="newsList">
         
         <li style="font-size:12px"><a href="{MYLINK}1084775255" title="开户有什么要求？" target="_blank">开户有什么要求？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775254" title="开户需要带什么资料？ " target="_blank">开户需要带什么资料？ </a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775253" title="开户要多长时间？" target="_blank">开户要多长时间？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775252" title="怎样炒现货白银才能盈利？" target="_blank">怎样炒现货白银才能盈利？</a>
           <span style="float:right">2014-06-20</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775251" title="现货白银投资方案及实战技巧？" target="_blank">现货白银投资方案及实战技巧？</a>
           <span style="float:right">2014-06-20</span></li>
            
     </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}
