{template "ziyuan","header"}

<div id="wrapper" class="intro">
  <div id="left">
    
     
    
    <ul class="sideMenu">
     
       
            <li><a href="{MYLINK}10842">每日评论</a></li>
          
           
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
           
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
           
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
           
            <li><a href="{MYLINK}10846">高级课堂</a></li>
          
           
            <li><a href="{MYLINK}10847" class="current">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10847" rel="nofollow">常见问题</a></div>
    <div class="hr">&nbsp;</div>
    <h1>开户有什么要求？</h1>
    <div class="time">作者：海南大宗&nbsp;来源：海南大宗&nbsp;日期:2014-06-16</div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    <div class="content1">
      <p><span style="color:#3d3d3d;line-height:24px;font-family:verdana, geneva, sans-serif;">1、年满18周岁并具有完全民事行为能力的中国公民。</span><br style="color:#3d3d3d;line-height:24px;font-family:verdana, geneva, sans-serif;" /><span style="color:#3d3d3d;line-height:24px;font-family:verdana, geneva, sans-serif;">2、能够充分理解一切有关于此交易的风险，并且具有风险承受能力的投资者。</span><br style="color:#3d3d3d;line-height:24px;font-family:verdana, geneva, sans-serif;" /><span style="color:#3d3d3d;line-height:24px;font-family:verdana, geneva, sans-serif;">3、因投资失误而造成账户资金部分或全部损失、仍不会改变其正常生活方式的投资者。</span><br /></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    
    <div class="tags_code">
      <p>上一篇：<a href="{MYLINK}1084775231" class="leftt" title="白银和铂金的区别"><span></span><em>白银和铂金的区别</em></a></p>
                        <p>下一篇：<a href="{MYLINK}1084775229" class="leftt" title="开户需要带什么资料？ "><span></span><em>开户需要带什么资料？ </em></a></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="content">
      <h3>延伸阅读</h3>
      <ul class="newsList">
         
         <li style="font-size:12px"><a href="{MYLINK}1084775255" title="开户有什么要求？" target="_blank">开户有什么要求？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775254" title="开户需要带什么资料？ " target="_blank">开户需要带什么资料？ </a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775253" title="开户要多长时间？" target="_blank">开户要多长时间？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775252" title="怎样炒现货白银才能盈利？" target="_blank">怎样炒现货白银才能盈利？</a>
           <span style="float:right">2014-06-20</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775251" title="现货白银投资方案及实战技巧？" target="_blank">现货白银投资方案及实战技巧？</a>
           <span style="float:right">2014-06-20</span></li>
            
     </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}