{template "ziyuan","header"}

 
<div id="wrapper" class="intro">
  <div id="left">
    
    
    <ul class="sideMenu">
      
                
            <li><a href="{MYLINK}10842">每日评论</a></li>
          
                    
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
                    
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
                    
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
                    
            <li><a href="{MYLINK}10846">高级课堂</a></li>
          
                    
            <li><a href="{MYLINK}10847" class="current">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10847" rel="nofollow">常见问题</a></div>
 <h1>常见问题</h1>
    <div class="content">
       
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775213" title="怎样炒现货白银才能盈利" target="_blank">怎样炒现货白银才能盈利</a>
                        <span>2014-07-16</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775212" title="常见问题之一" target="_blank">常见问题之一</a>
                        <span>2014-07-16</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775211" title="银行业务问题之解约" target="_blank">银行业务问题之解约</a>
                        <span>2014-07-16</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775210" title="现货白银投资优势" target="_blank">现货白银投资优势</a>
                        <span>2014-06-12</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775209" title="投资青岛鲁银的几种途径" target="_blank">投资青岛鲁银的几种途径</a>
                        <span>2014-06-12</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775208" title="套利交易的基本原理介绍" target="_blank">套利交易的基本原理介绍</a>
                        <span>2014-06-12</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775207" title="投资新手应该如何操作" target="_blank">投资新手应该如何操作</a>
                        <span>2014-06-12</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084775206" title="白银和铂金的区别" target="_blank">白银和铂金的区别</a>
                        <span>2014-06-12</span>
                      </li>
                    </ul>
                
     
      <div class="page">
        <a disabled="disabled" style="margin-right:5px;cursor:pointer" href="{MYLINK}10847">首页</a>
                        <a disabled="disabled" style="margin-right:5px;cursor:pointer" href="{MYLINK}10847_2">上一页</a> 
                        <a href="{MYLINK}10847" style="margin-right:5px;cursor:pointer">1</a><a href="{MYLINK}10847_2" style="margin-right:5px;cursor:pointer">2</a><span class="cpb" style="margin-right:5px;cursor:pointer">3</span>
                        <a style="margin-right:5px;cursor:pointer">下一页</a> 
                        <a style="margin-right:5px;cursor:pointer">尾页</a> 
      </div>      
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}