<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="Keywords" content="海南大宗会员" />
<meta name="Description" content="海南大宗会员" />
<meta name="author" content="海南大宗会员" />
<title>申请模拟-海南大宗</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="{TP}css/jmdl.css" media="screen" />
<script type="text/JavaScript">
<!--

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<SCRIPT language=javascript>
function checkform()
{
	var realname=document.form1.realname.value;
	bb=realname.replace(/^\s+|\s+$/g, '');
	if(bb=="" || bb==null)
	{
		alert("姓名栏不能为空,请填写真实姓名");
		document.form1.realname.focus();
		return false;
	}
	if(realname.length<2)
	{
		alert("姓名长度不能少于2位,请填写真实姓名");
		document.form1.realname.focus();
		return false;
	}
	if(realname.length>14)
	{
		alert("姓名长度不能大于14位,请填写真实姓名");
		document.form1.realname.focus();
		return false;
	}
	var pronum=document.form1.pronum.value;;
	bpronum=pronum.replace(/^\s+|\s+$/g, '');
	if(bpronum=="" || bb==null)
	{
		alert("身份证号码不能为空");
		document.form1.pronum.focus();
		return false;
	}
	if(pronum.length<15)
	{
		alert("身份证号码长度不能少于15位");
		document.form1.pronum.focus();
		return false;
	}
	if(pronum.length>18)
	{
		alert("身份证号码长度不能大于18位");
		document.form1.pronum.focus();
		return false;
	}
	var address=document.form1.address.value;;
	baddress=address.replace(/^\s+|\s+$/g, '');
	if(baddress=="")
	{
		alert("通讯地址不能为空");
		document.form1.address.focus();
		return false;
	}
	if(address.length<2)
	{
		alert("通讯地址长度不能少于2位");
		document.form1.address.focus();
		return false;
	}
	var tel=document.form1.tel.value;
	if(tel=="")
	{
		alert("联系手机不能为空！");
		document.form1.tel.focus();
		return false;
	}
	if(tel.length<11)
	{
		alert("手机号长度不能少于11位");
		document.form1.tel.focus();
		return false;
	}
	if(tel.length>11)
	{
		alert("手机号长度不能大于11位");
		document.form1.tel.focus();
		return false;
	}	
	var reg=/[0-9-]+$/;
	if (!reg.test(tel))
	{
		alert('电话必须为数字!');
		document.form1.tel.focus();
		return false;
	}
	var qq=document.form1.qq.value;;
	bqq=qq.replace(/^\s+|\s+$/g, '');
	if(bqq=="")
	{
		alert("联系QQ不能为空");
		document.form1.qq.focus();
		return false;
	}
	if(qq.length<5)
	{
		alert("QQ号码长度不能少于5位");
		document.form1.qq.focus();
		return false;
	}
	if(qq.length>11)
	{
		alert("QQ号码长度不能大于12位");
		document.form1.qq.focus();
		return false;
	}
        var content=document.form1.content.value;
	if(content.length>50)
	{
		alert("内容字数不得大于50个字符,请简要填写");
		document.form1.content.focus();
		return false;
	}
	return true;
}
//获取多选框的值
function selTzjy(){
	var checkboxs=document.getElementsByName("tzjy_one"); 
	var i;
	var str="";
	var n=1;
	for(i=0;i<checkboxs.length;i++) {
		if(checkboxs[i].type=='checkbox') { 
			if(checkboxs[i].checked==true){
				if(n>1){
					str+=",";
				}
				str+=checkboxs[i].value;
				n++;
			}
		} 
	}
	$("#tzjy_one").val(str);
}
</SCRIPT>
</head>
<body id="page">
<div id="container">
<div id="main_content" class="outer">
<div class="html_inner">
<div class="html_content">
<div class="html_left">
<div class="html_login">
<div class="html_widget">
<div class="html_widget_top"></div>
<!-- html_widget_top -->
<div class="html_widget_middle">
<div class="html_inner_container">
<div>请您填写真实、有效的个人信息，您所填写的信息将影响交易帐户的申请及银行卡信息的验证，请务必填写正确！</div>
<form method="post" name="form1" id="form1" onsubmit="return checkform();"action="{MYFORM}jmdl" >
<table class="html_login_table" border="0">
<tbody>
<tr class="linehight">
<td class="t_left">称　　谓</td>
<td class="t_right">
<span class="STYLE11">
<input type="radio" name="sex" value="先生"  checked="checked"  class="tzjy"/>
先生
<input type="radio" name="sex" value="女士" class="tzjy" />
女士</span></td>
</tr>
<tr class="linehight">
<td class="t_left">姓　　名<strong> *</strong></td>
<td class="t_right"><input  id="realname" name="realname" placeholder="请输入您的真实姓名"/></td>
</tr>
<tr class="linehight">
<td class="t_left">证件类型</td>
<td class="t_right">
<select name="product">
  <option value="海南大宗-代理" selected="selected">身份证</option>
</select>
</td>
</tr>
<tr class="linehight">
<td class="t_left">证件号码<strong> *</strong></td>
<td class="t_right">
<input id="pronum"  name="pronum"  placeholder="请输入您的证件号码"/>
</td>
</tr>
<tr class="linehight">
<td class="t_left">通讯地址<strong> *</strong></td>
<td class="t_right">
<input name="address"  id="address" size="40" placeholder="请输入您的通讯地址"/>
</td>
</tr>
<tr class="linehight">
<td class="t_left">手机号码<strong> *</strong></td>
<td class="t_right">
<input  id="tel" name="tel" placeholder="请输入您的手机号码"/></td>
</tr>
<tr class="linehight">
<td class="t_left">固定电话</td>
<td class="t_right"><input  id="tel2" name="tel2" placeholder="固定电话可选填"/></td>
</tr>
<tr class="linehight">
<td class="t_left">联系QQ<strong>&nbsp;&nbsp; *</strong></td>
<td class="t_right">
<input  id="qq" name="qq" placeholder="请输入您的QQ号码"/></td>
</tr>
<tr class="linehight">
<td class="t_left">联系邮箱</td>
<td class="t_right">
<input  id="mail" name="mail" placeholder="请输入您的邮箱地址"/></td>
</tr>
<tr class="linehight">
<td class="t_left">预计入金</td>
<td class="t_right">
<select name="zijin">
<option value="20万以下"selected="selected">20万以下</option>
<option value="50万以下">50万以下</option>
<option value="100万以下">100万以下</option>
<option value="200万以下">200万以下</option>
</select>
</td>
</tr>

<tr class="linehight">
<td class="tools" colspan="2"><input type="submit" value="提交"  class="submit1"/>
<!--<input name="act" type="hidden" id="act" value="ok" />-->
</td>
</tr>
</tbody></table>
</form> 
</div>
<!-- html_inner_container --></div>
<div class="html_widget_bottom"></div>
<!-- html_widget_bottom --></div>
<!-- html_widget -->
<div class="html_title"><img src="{TP}images/login_title1.png" alt="招商加盟代理" /></div>
</div>
<!-- html_login -->
<div class="gif_pic"></div>
</div>
<!-- html_left -->
<div class="html_right">
<div class="html_special">
<div class="html_detail">
<div class="html_widget_middle">
<div class="html_inner_container">
<table class="des_table" border="0">
<tbody>
<p>纵观世界发展历史，只有现货才能保持相对固定的购买力，投资、经营现货将有一个长期稳<br />定收益与事业发展的空间。</p>
<p>现货投资行业投资小、见效快、风险低、利润高，且可持续发展。</p>
<p>我司的发展目标是打造国内现货投资的一流平台，与合作伙伴共同成长、共同发展。作为我们<br />的居间商，您相当于拥有一家证券公司营业部，客户资源将得到积累。您将得到您名下客户交易的佣<br />金返还。随着您客户资金的成长以及客户数量的增多，您将获得可观和稳定的回报！</p>
</tbody>
</table>
</div>
<p><!-- html_inner_container --></p>
</div>
<p><!-- html_widget_bottom --></p>
</div>
<p><!-- html_detail --></p>
<div class="html_special_title"><img src="{TP}images/t1.png" alt="市场前景" /></div>
<p><!-- html_special_title --></p>
</div>
<p><!-- html_special --></p>
<div class="html_special" style="margin-top: 30px;">
<div class="html_detail">
<div class="html_widget_middle">
<div class="html_inner_container">
<table class="des_table" border="0">
<tbody>
<tr>
<td class="d_left">实力优势</td>
<td class="d_right">公司是现货交易中心的首批综合类，资金实力强大，社会资源广泛。</td>
</tr>
<tr>
<td class="d_left">资源优势</td>
<td class="d_right">资源共享平台提供权威的资讯信息，传递行业最新动态。</td>
</tr>
<tr>
<td class="d_left">专业优势</td>
<td class="d_right">拥有行业内资深专家、理财顾问团队组建成的现货投资分析平台。</td>
</tr>
<tr>
<td class="d_left">创新优势</td>
<td class="d_right">专注于客户的需求，专注于市场的变化，创新模式服务客户。</td>
</tr>
<tr>
<td class="d_left">平台优势</td>
<td class="d_right">拥有与国际接轨的报价系统、灵活的交易机制、安全便捷的资金银行存管。</td>
</tr>
</tbody>
</table>
</div>
<p><!-- html_inner_container --></p>
</div>
<p><!-- html_widget_bottom --></p>
</div>
<p><!-- html_detail --></p>
<div class="html_special_title"><img src="{TP}images/t2.png" alt="加盟优势" /></div>
<p><!-- html_special_title --></p>
</div>
<p><!-- html_special --></p>
<div class="html_special" style="margin-top: 30px;">
<div class="html_detail">
<div class="html_widget_middle">
<div class="html_inner_container">
<table class="des_table" border="0">
<tbody>
<tr>
<p>
一、 能够独立承担居间法律责任的自然人或者企业法人
</p>
<p>
二、 具有法人资格的投资、咨询、现货经营等金融投资类公司
</p>
<p>
三、 具备符合经营范围所需要的标准办公场地和人员
</p>
<p>
四、 具有良好的诚信记录
</p>
<p>
五、 具有运作该项目所需要的资金实力和当地社会关系，具备一定的客户资源
</p>
<p>
六、 具有良好的经营管理能力及发展潜力
</p>
<p>
七、 承认交易所及本公司业务管理办法
</p>
<p>
八、 了解现货行业的经营模式，具有长远眼光并长期从事等现货投资事业
</p>
</tr>
</tbody>
</table>
</div>
<p><!-- html_inner_container --></p>
</div>
<p><!-- html_widget_bottom --></p>
</div>
<p><!-- html_detail --></p>
<div class="html_special_title"><img src="{TP}images/t3.png" alt="加盟条件" /></div>
<p><!-- html_special_title --></p>
</div>
</div>
<p><!-- html_right --></p>
<!-- html_content --></div>
<!-- html_main -->


			<div class="clear"></div>
								

	</div><!-- /#main_content .outer -->	

	</div><!-- #main .wrapper -->
</div><!-- #page -->
</body>
</html>
