<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta http-equiv="refresh" content="2">
        <title>okcoin 自动交易机器人</title>

    </head>
    <body>
        {pc:get sql="SELECT * FROM phpcms_okrobot_userinfo where id=(select max(id) from phpcms_okrobot_userinfo)" cache="0" return="data"}
        <h1>我的资产</h1>
        {loop $data $key $val}
        净资产：{$val[asset_net]}</br>
        总资产：{$val[asset_total]}</br>
        {/loop}
        <h1>市场行情</h1>
        {/pc}
        {pc:get sql="SELECT * FROM phpcms_okrobot_ticker where id=(select max(id) from phpcms_okrobot_ticker)" cache="0" return="data"}
        {loop $data $key $val}
        买一价：{$val[buy]}</br>
        卖一价：{$val[sell]}</br>
        最高价：{$val[high]}</br>
        最低价：{$val[low]}</br>
        最新成交价：{$val[lastprice]}</br>
        24小时成交量：{$val[vol]}</br>
        {/loop}
        {/pc}
        <h1>我的订单</h1>
        {pc:get sql="SELECT * FROM phpcms_okrobot_orderinfo where status='0'" cache="0" return="data"}
        {loop $data $key $val}
        订单id：{$val[order_id]}
        委托数量：{$val[amount]}
        委托价格：{$val[price]}
        成交数量：{$val[deal_amount]}
        平均成交价：{$val[avg_price]}
        委托时间：{$val[create_date]}
        {/loop}
        {/pc}

    </body>
</html>
