<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <title>okcoin 自动交易机器人</title>

    </head>
    <body>
        {pc:get sql="SELECT * FROM phpcms_okrobot_userinfo where id=(select max(id) from phpcms_okrobot_userinfo)" cache="0" return="data"}
        {loop $data $key $val}
        okcoin 自动交易机器人
        净资产：{$val[asset_net]}
        总资产：{$val[asset_total]}
        {/loop}
        {/pc}
    </body>
</html>
