{template "ziyuan","header"}
  
<div id="wrapper" class="intro">
  <div id="left">
    
   
    <ul class="sideMenu">
      
                
            <li><a href="{MYLINK}10827">产品优势</a></li>
          
                    
            <li><a href="{MYLINK}10828" class="current">交易规则</a></li>
          
                    
            <li><a href="{MYLINK}10829">盈亏计算</a></li>
          
                    
            <li><a href="{MYLINK}10830">交易费用</a></li>
          
                    
            <li><a href="{MYLINK}10831">出入金流程</a></li>
          
                    
            <li><a href="{MYLINK}10832">托管银行</a></li>
          
                    
            <li><a href="{MYLINK}10833">软件下载</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
   <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>

    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10826" rel="nofollow">产品服务</a> > <a href="{MYLINK}10828" rel="nofollow">交易规则</a></div>
     <h1>交易规则</h1>
    <div class="content"><div class="fl">
      <p><img src="{TP}upload/images/2015/7/10131722224.jpg" title="1810117656.jpg" style="border:none;font-size:12px;color:#7f7f7f;font-family:宋体, arial;line-height:22px;text-align:center;margin:0px;padding:0px;vertical-align:middle;background-color:#ffffff;" /><br /></p>
      </div>
  </div>
    </div>
  <div class="clear"></div>
    
</div>
  
{template "ziyuan","footer"}