{template "ziyuan","header"}
  
<div id="wrapper" class="intro">
  <div id="left">
    
   
    <ul class="sideMenu">
      
                
            <li><a href="{MYLINK}10827" class="current">产品优势</a></li>
          
                    
            <li><a href="{MYLINK}10828">交易规则</a></li>
          
                    
            <li><a href="{MYLINK}10829">盈亏计算</a></li>
          
                    
            <li><a href="{MYLINK}10830">交易费用</a></li>
          
                    
            <li><a href="{MYLINK}10831">出入金流程</a></li>
          
                    
            <li><a href="{MYLINK}10832">托管银行</a></li>
          
                    
            <li><a href="{MYLINK}10833">软件下载</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
   <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>

    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10826" rel="nofollow">产品服务</a> > <a href="{MYLINK}10827" rel="nofollow">产品优势</a></div>
     <h1>产品优势</h1>
    <div class="content"><div class="fl">
      <p>1、资金安全：客户资金由银行托管，及时出入金，及时到账，资金保障更安全；</p><p>2、开户门槛低：合约单位小，最小单位5千克/手，开户免费；</p><p>3、交易时间长：每日除04:00至07:00银行结算,交易长达21小时；</p><p>4、杠杆交易：客户根据自身承受风险大小,最大100倍，最小5倍；</p><p>5、手续费低：5.5个点手续费，3个点点差；</p><p>6、灵活性高：T+0双向模式;可做多做空(买涨、买跌)双向交易；</p><p>7、便利性：所有客户与公司或银行签字协议完全在网上办理，可以足不出户；</p><p>8、现货提取：白银是天然的抵御通货膨胀、保值和增值的工具，必要时您也可以申请提取交割实物，以减少投资风险，甚至增值。</p><p><br /></p>
      </div>
  </div>
    </div>
  <div class="clear"></div>
    
</div>
  
{template "ziyuan","footer"}
