{template "ziyuan","header"}
 
<div id="wrapper" class="intro">
  <div id="left">
    
    
    <ul class="sideMenu">
      
                
            <li><a href="{MYLINK}10842">每日评论</a></li>
          
                    
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
                    
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
                    
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
                    
            <li><a href="{MYLINK}10846" class="current">高级课堂</a></li>
          
                    
            <li><a href="{MYLINK}10847">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10846" rel="nofollow">高级课堂</a></div>
 <h1>高级课堂</h1>
    <div class="content">
       
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675205" title="现货白银投资知识白银T+d投资如何解套？" target="_blank">现货白银投资知识白银T+d投资如何解套？</a>
                        <span>2016-06-23</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675204" title="现货白银怎么投资赚钱成为了人们的热点话题" target="_blank">现货白银怎么投资赚钱成为了人们的热点话题</a>
                        <span>2016-06-23</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675203" title="现货白银投资基础知识之美国就业数据篇" target="_blank">现货白银投资基础知识之美国就业数据篇</a>
                        <span>2016-06-23</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675202" title="黄金是很不稳定" target="_blank">黄金是很不稳定</a>
                        <span>2014-07-16</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675201" title="贵金属投资的四大要素" target="_blank">贵金属投资的四大要素</a>
                        <span>2014-07-16</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675200" title="如何利用好布林带做好白银" target="_blank">如何利用好布林带做好白银</a>
                        <span>2014-07-15</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675199" title="炒白银周线走势分析的技巧探讨" target="_blank">炒白银周线走势分析的技巧探讨</a>
                        <span>2014-07-15</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675198" title="移动平均线的定义和简易使用方法" target="_blank">移动平均线的定义和简易使用方法</a>
                        <span>2014-07-15</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675197" title="如何灵活运用均线顺应大势" target="_blank">如何灵活运用均线顺应大势</a>
                        <span>2014-07-15</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675196" title="运用MACD指标逃顶技巧" target="_blank">运用MACD指标逃顶技巧</a>
                        <span>2014-07-15</span>
                      </li>
                    </ul>
                
      <ul class="newsList">
                      <li>
                        <a href="{MYLINK}1084675195" title="炒白银的技巧方法建议" target="_blank">炒白银的技巧方法建议</a>
                        <span>2014-06-10</span>
                      </li>
                    </ul>
                
     
      <div class="page">
        <a disabled="disabled" style="margin-right:5px;cursor:pointer">首页</a>
                        <a disabled="disabled" style="margin-right:5px;cursor:pointer">上一页</a> 
                        <span class="cpb" style="margin-right:5px;cursor:pointer">1</span>
                        <a style="margin-right:5px;cursor:pointer">下一页</a> 
                        <a style="margin-right:5px;cursor:pointer">尾页</a> 
      </div>      
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}
