{template "ziyuan","header"}

<div id="wrapper" class="intro">
  <div id="left">
    
     
    
    <ul class="sideMenu">
     
       
            <li><a href="{MYLINK}10842" class="current">每日评论</a></li>
          
           
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
           
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
           
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
           
            <li><a href="{MYLINK}10846">高级课堂</a></li>
          
           
            <li><a href="{MYLINK}10847">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10842" rel="nofollow">每日评论</a></div>
    <div class="hr">&nbsp;</div>
    <h1>央行黄金流出或扮演金价暴跌幕后推手</h1>
    <div class="time">作者：海南大宗&nbsp;来源：海南大宗&nbsp;日期:2014-12-01</div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    <div class="content1">
      <p>上周，根据美联储公布月度外国实物黄金矿床报告的显示，&ldquo;荷兰央行在过去几个月的时间内从纽约联邦储备银行运回了122.5吨的黄金储备，价值50多亿美元。&rdquo;并且报告中称，尽管在2013年流出的5吨黄金可能是德意志银行，但显而易见，近期的流出达到33吨黄金的幕后推手为荷兰央行。</p>
<p>根据之前的报道，目前在荷兰央行的黄金储备中，其11%黄金存于阿姆斯特丹、51%黄金存于纽约联储、20%黄金存于加拿大以及18%黄金存于英格兰银行的政策有所改变，将自己储备31%的黄金，而纽约联储也储存的黄金也将下降到31%，其它不变。</p>
<p>荷兰央行称，已将122.5吨黄金（价值40亿欧元，约合50亿美元）从纽约保管处转移至国内。通过本次调整，荷兰央行与其他各国央行一道加大了国内黄金储备的比重。</p>
<p style="text-align: center; text-indent: 0;"><img src="{TP}upload/images/2014/119033265.jpg" border="0" /></p>
<p>对于浸淫于贵金属市场上的投资者来说对于央行黄金储备的消息相当敏感。发生于2013年4月份的塞浦路斯央行售金的消息成为近年来黄金价格下跌的直接导火索。近期，瑞士央行黄金公投的消息也令短期多头采取平仓回补，配合着技术上的回调再次打开金价下跌趋势。</p>
<p style="text-align: center; text-indent: 0;"><img src="{TP}upload/images/2014/119033562.jpg" border="0" /></p>
<p>上周五晚间，黄金延续之前的下行调整，最终收跌2.84%。技术指标上，近期黄金反弹走势受到自1255至1207下降趋势线打压，连续3天不能有效突破，可见1205美元/盎司附近阻力的压制作用较强。均线系统中，20小时均线和40小时均线开始转头平行向下，同时布林线向下喇叭开口，4小时分时图上黄金已有效跌破1180美元/盎司关键支持位。</p>
<p>技术指标中，MACD指标继续延续下行态势，绿色动能柱有增大的趋势。RSI相对强弱指标延续下行趋势已经接近零轴。若此次调整在1160美元/盎司附近无法得到有效支撑，后市或将再次下探至1130美元/盎司年内低点。</p>
<p style="text-align: center; text-indent: 0;"><img src="{TP}upload/images/2014/119033640.jpg" border="0" /></p>
<p>现货白银方面，近期的走势较黄金来看较为疲弱，而上周五的大跌也表明上方16.78美元/盎司的阻力压制力量较强。均线系统中，上方受制于50日均线的压制，短期均线有呈现空头趋势排列的迹象。布林系统中，价格收到中轨16.3美元/盎司附近的压制后开始向下寻底。后市建议投资者关注15美元/盎司整数关口的压制。</p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    
    <div class="tags_code">
      <p>上一篇：<a href="{MYLINK}1084275156" class="leftt" title="RBS：油价若反弹将使欧元区远离通缩，QE前景或因此受挫"><span></span><em>RBS：油价若反弹将使欧元区远离通缩，QE前景或因此受挫</em></a></p>
                        <p>下一篇：<a href="{MYLINK}1084275154" class="leftt" title="金价小幅回落 汇丰称近期走势仍看美元和原油"><span></span><em>金价小幅回落 汇丰称近期走势仍看美元和原油</em></a></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="content">
      <h3>延伸阅读</h3>
      <ul class="newsList">
         
         <li style="font-size:12px"><a href="{MYLINK}1084775255" title="开户有什么要求？" target="_blank">开户有什么要求？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775254" title="开户需要带什么资料？ " target="_blank">开户需要带什么资料？ </a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775253" title="开户要多长时间？" target="_blank">开户要多长时间？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775252" title="怎样炒现货白银才能盈利？" target="_blank">怎样炒现货白银才能盈利？</a>
           <span style="float:right">2014-06-20</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775251" title="现货白银投资方案及实战技巧？" target="_blank">现货白银投资方案及实战技巧？</a>
           <span style="float:right">2014-06-20</span></li>
            
     </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}