{template "ziyuan","header"}

<div id="wrapper" class="intro">
  <div id="left">
    
     
    
    <ul class="sideMenu">
     
       
            <li><a href="{MYLINK}10842" class="current">每日评论</a></li>
          
           
            <li><a href="{MYLINK}10843">机构报告</a></li>
          
           
            <li><a href="{MYLINK}10844">价格行情</a></li>
          
           
            <li><a href="{MYLINK}10845">基础课堂</a></li>
          
           
            <li><a href="{MYLINK}10846">高级课堂</a></li>
          
           
            <li><a href="{MYLINK}10847">常见问题</a></li>
          
          
    </ul>
    <div class="sideMenu_b"></div>
    
    <div style="width:240px; height:10px;"></div>
    <table width="240" height="40" border="0"  bgcolor="#ffa733"> 
      <tr>
    <td width="240" heght="40" align="center" style="color:#FFF;font-size:16px;">快捷导航</td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>    
     <table width="244" border="0" bgcolor="#ffffff" style=" font-size:14px; color:#999;padding-right:4px; " cellspacing="2">  <tr>
     <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10821">公司简介</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10835">开户流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10828">交易规则</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10823">政府批文</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10829">盈亏计算</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">软件下载</a></td>
  </tr>
  <tr>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10847">常见问题</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10831">出入金流程</a></td>
    <td bgcolor="#f5f5f5" height="37" align="center" width="78"><a href="{MYLINK}10833">文件下载</a></td>
  </tr>
</table>
    <div style="width:240px; height:10px;"></div>   
    
    <span class="hotline"><img src="{TP}images/hotline.jpg"></span>
    
<table width="240" height="50" border="0">
  <tr>
    <td><table width="240"  height="50" border="0">
      <tr>
        <td class="d1" width="110"align="center" bgcolor="#ffa733" style=" font-size:16px; color:#FFF"><a href="{MYLINK}10836">模拟账户申请 </a></td>
        <td   class="d1" width="110" style="font-size:16px; color:#FFF;"align="center"  bgcolor="#ffa733" ><a href="{MYLINK}10837">实盘账户申请 </a></td>
      </tr>
    </table></td>
  </tr>
</table>

<div class="contactInfo">
    <div class="item tel" align="center">全国代理火热招商中</div>
    <div class="item date">石油市场无尽财富，等你一起挑战！</div>
  <div><a href="{MYLINK}10825"><img src="{TP}images/more_cont.gif" class="contact_more"></img></a></div>
    <br>
  </div>
    
  </div>
  <div id="center">
    <div class="place"><a href="../index" rel="nofollow">首页</a> > <a href="{MYLINK}10841" rel="nofollow">投资研究</a> > <a href="{MYLINK}10842" rel="nofollow">每日评论</a></div>
    <div class="hr">&nbsp;</div>
    <h1>欧央行12月或推出QE 黄金反弹关注1203/10</h1>
    <div class="time">作者：海南大宗&nbsp;来源：海南大宗&nbsp;日期:2014-11-25</div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    <div class="content1">
      <p>国际金价周二(11月25日)亚洲时段盘初持续徘徊在1200美元下方，因美元走强令其承压。</p>
<p>fxstreet分析师omkar godbole周一(11月24日)撰文称，近日受欧洲及中国央行宽松的提振，金价曾再度冲破1200美元关口，初步阻力在1203美元。</p>
<p>godbole表示，由于周一公布的德国经济数据向好，提振欧元/美元反弹，对金价构成一定支撑。不过，以欧元计价的黄金却下跌0.70%。</p>
<p>他指出，市场普遍预期欧洲央行(ECB)将在12月4日的利率决议上宣布购买主权债(即QE)，此举将大规模扩张欧洲央行的资产负债表，并对金价构成利好。从下图来看，欧洲央行资产负债表规模与金价呈很强的正相关性。</p>
<p style="text-align: center; text-indent: 0;"><img src="{TP}upload/images/2014/251904821.jpg" border="0" alt="W020141125341198130992" /></p>
<p><strong>技术面上</strong>，godbole表示，当前金价的初步阻力位于50日均线1203.50美元,有效突破将上探1210美元。下行方面，有效跌破1195美元将看向1186美元区域。</p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="hr">&nbsp;</div>
    
    <div class="tags_code">
      <p>上一篇：<a href="{MYLINK}1084275163" class="leftt" title="道明证劵预期黄金/白银比率首度上升 2015年走势逆转"><span></span><em>道明证劵预期黄金/白银比率首度上升 2015年走势逆转</em></a></p>
                        <p>下一篇：<a href="{MYLINK}1084275161" class="leftt" title="金价小幅回落至1200下方 法兴预期四季度均价1150"><span></span><em>金价小幅回落至1200下方 法兴预期四季度均价1150</em></a></p>
    </div>
    <div class="hr">&nbsp;</div>
    <div class="content">
      <h3>延伸阅读</h3>
      <ul class="newsList">
         
         <li style="font-size:12px"><a href="{MYLINK}1084775255" title="开户有什么要求？" target="_blank">开户有什么要求？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775254" title="开户需要带什么资料？ " target="_blank">开户需要带什么资料？ </a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775253" title="开户要多长时间？" target="_blank">开户要多长时间？</a>
           <span style="float:right">2016-06-23</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775252" title="怎样炒现货白银才能盈利？" target="_blank">怎样炒现货白银才能盈利？</a>
           <span style="float:right">2014-06-20</span></li>
         
         <li style="font-size:12px"><a href="{MYLINK}1084775251" title="现货白银投资方案及实战技巧？" target="_blank">现货白银投资方案及实战技巧？</a>
           <span style="float:right">2014-06-20</span></li>
            
     </ul>
    </div>
  </div>
  <div class="clear"></div>
</div>
{template "ziyuan","footer"}